<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Details</title>
  </head>

  <body>
    <div class="container">
      <div class="information">
        <h2>Your current information</h2>
        <p><b>Username :</b> {{alldetails.username}}</p>
        <p><b>Name :</b> {{alldetails.name}}</p>
        <p>
          <b>Age :</b> {{alldetails.age}}
          <!-- incomplete -->
        </p>
        <p>
          <b>Sex :</b> {{alldetails.sex}}
          <!-- incomplete -->
        </p>
        <p>
          <b>Height :</b> {{alldetails.height}}
          <!-- incomplete -->
        </p>
        <p>
          <b>Weight :</b> {{alldetails.weight}}
          <!-- incomplete -->
        </p>
        <p>
          <b>Occupation :</b> {{alldetails.occupation}}
          <!-- incomplete -->
        </p>
        <p>
          <b>Address :</b> {{alldetails.address}}
          <!-- incomplete -->
        </p>
        <p>
          <b>Marital status :</b> {{alldetails.marital_status}}
          <!-- incomplete -->
        </p>
        <p>
          <b>Medical history :</b> {{alldetails.medical_history}}
          <!-- incomplete -->
        </p>
        <p>
          <b>Habits :</b> {{alldetails.habits}}
          <!-- incomplete -->
        </p>
        <p>
          <b>Sport :</b> {{alldetails.sports_played}}
          <!-- incomplete -->
        </p>
        <p><b>Email Address :</b> {{alldetails.email}}</p>
        <p><b>Contact :</b> {{alldetails.contact}}</p>
        <!-- <p>
                <b>Last Login :</b> {{last_login}}
            </p> -->
      </div>
    </div>
  </body>
</html>
