<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Details</title>
  </head>

  <body>
    <div class="container">
      <div class="information">
        <h2>Doctor's current information</h2>
        <p><b>Username :</b> {{alldetails.user.username}}</p>
        <p><b>Name :</b> {{alldetails.user.first_name}} {{alldetails.user.last_name}}</p>
        <p><b>Email Address :</b> {{alldetails.user.email}}</p>
        <p><b>Specialization :</b> {{alldetails.specialization}}</p>
        <p><b>Qualification :</b> {{alldetails.Qualification}}</p>
        <p><b>Hospital Name :</b> {{alldetails.hospitalname}}</p>
      </div>
    </div>
  </body>
</html>
